html {
  font-family: "Kumbh Sans", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-heading: 3.5rem;
  --font-size-summary-description: 1.2rem;
  --font-size-summary-detail: 1.2rem;
  --font-size-desktop: 0.8rem;
  --line-height-summary-detail: 1.8rem;

  /* TEXT */
  --dark-des-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);

  /*BACKGROUND LINEAR GRADIENT*/

  --background-col: linear-gradient(#af67e9, #6565e7);

  /*z-index */

  --z-index-main: 10;
  --z-index-secondary: 5;
  --z-index-lowest: 1;
}

body {
  width: 80%;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  background: linear-gradient(#e66465, #9198e5);
}

section.faq {
  background: white;
  border-radius: 2.3rem;
  display: grid;
  grid: 10.4rem max-content / 1fr;
  gap: 2.8rem;
  width: 70%;
  margin-top: 8rem;
  padding-top: 5rem;
  min-width: 25rem;
  max-width: 60rem;
  height: auto;
  max-height: 100vh;
  min-height: 60rem;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
}

section.imgcontainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid: "image-containers" 1fr / 1fr;
}

.mainimgcontainer {
  grid-area: image-containers;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid: "images" 1fr/1fr;
}

.mainimgcontainer > picture {
  grid-area: images;
}

picture.illustrationwoman img {
  width: 23.685rem;
  height: auto;
  transform: translate(0, -10.8rem);
  position: relative;
  z-index: var(--z-index-secondary);
}

picture.shadowillustration img {
  width: 23.685rem;
  transform: translate(0, -3.7rem);
  z-index: var(--z-index-lowest);
}

.boxillustration {
  display: none;
  grid-area: image-containers;
  z-index: var(--z-index-main);
}

section.container {
  padding: 0 2.4rem 4.8rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 3.8rem;
}

.faqheader {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  line-height: 1rem;
  margin-top: 0rem;
}

ul.faqlist {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.9rem;
  list-style: none;
}

li.faqitem {
  border-bottom: solid 1px var(--light-grayish-blue);
  cursor: pointer;
  padding: 0 0 1rem;
}

.itemsummary {
  font-size: var(--font-size-summary-description);
  display: flex;
  justify-content: space-between;
  align-items: start;
  transition: font-weight 250ms, color 250ms;
}

li.faqitem:hover .itemsummary {
  color: var(--soft-red) 250ms;
}

.faqitem:is(.active) > .itemsummary {
  font-weight: var(--font-weight-bold);
}

.img.arrowicon {
  transition: transform 250ms;
}

.faqitem:is(.active) img.arrowicon {
  transform: rotate(180deg);
}

.itemdetail {
  font-size: var(--font-size-summary-detail);
  line-height: var(--line-height-summary-detail);
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms ease, margin-top 250ms;
  color: var(--dark-grayish-blue);
}

.faqitem:is(.active) > .itemdetail {
  margin-top: 1.1rem;
}

.attribution {
  padding-top: 3rem;
}

/*MEDIA QUERY DESKTOP*/

@media screen and (min-width: 1110px) {
  body {
    font-size: var(--font-size-desktop);
  }

  section.faq {
    margin-top: 5rem;
    background: white;
    line-height: 10px;
    grid: 1fr / 38.8rem 1fr;
    gap: 7rem;
    min-width: 50rem;
    width: 65rem;
    max-width: 80rem;
    min-height: 75%;
    max-height: 60rem;
    padding: 0 0 0 0;
    overflow: hidden;
  }

  .mainimgcontainer {
    position: relative;
    overflow: hidden;
    margin-top: -5rem;
  }

  picture.illustrationwoman img {
    width: 30.2rem;
    transform: translate(-8.5rem, 0);
  }

  picture.shadowillustration img {
    position: absolute;
    width: 30.2rem;
    top: 55%;
    transform: translate(-78%, -52%);
  }

  .boxillustration {
    display: block;
    transform: translate(-19rem, 0rem);
  }

  section.container {
    width: 100%;
    padding: 3rem 6rem 5rem 0;
    align-items: flex-start;
  }

  .itemsummary {
    padding-right: 1.5rem;
    font-size: var(--font-size-desktop);
  }

  .itemdetail {
    font-size: var(--font-size-desktop);
    line-height: 1.5rem;
  }

  .faqheader {
    margin-left: -12rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  .faqlist {
    margin-top: -3rem;
    margin-left: -15rem;
  }
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
